name: env variables test

on:
    # push

env:
    CONTAINER_REGISTRY: harbor
jobs:
    env_variables_substituion:
        runs-on: ubuntu-latest
        steps:
        - name: docker login
          run: echo docker login --username ${{ vars.DockerUsername }} --password=${{ secrets.DOCKERPASSWORD }}
        
        - name: docker build
          run: echo docker build -t ${{ env.CONTAINER_REGISTRY }}/${{ vars.DockerUsername }}:LATEST