name: my first workflow

on:
  # push

jobs:
  first_job:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v4
    
    - name: list file, print text and grep for it
      run: |
        ls -lrta
        echo "Hello, How are you" >> hello.txt
        ls -lrta | grep -i hello
    
    - name: upload hello.txt
      uses: actions/upload-artifact@v4
      with:
        name: hello-artifact
        path: hello.txt
    
  second_job:
    needs: first_job
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v4

    - name: view hello.txt
      uses: actions/download-artifact@v4
      with:
        name: hello-artifact
    - run: cat hello.txt

    - name: install third pary
      run: sudo apt-get install cowsay -y
    
    - name: execute cowsay cmd
      run: |
        cowsay -f dragon "Run for your life... I am a dragon" >> dragon.txt
        ls -lrta
        # grep -i "dragon" dragon.txt
        cat dragon.txt

    - uses: actions/upload-artifact@v4
      with:
        name: dragon-file
        path: dragon.txt

  third_job:
    needs: first_job
    runs-on: ubuntu-latest
    steps:
    - name: test job to list files
      run: ls -lrta

    - uses: actions/download-artifact@v4
      with:
        name: dragon-file
    
    - name: view dragon.txt
      run: cat dragon.txt