name: my concourrency workflow

on:
  push:
  workflow_dispatch:
    

jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v4

    - name: list files
      run: ls -lrta

  job2:
    needs: job1
    concurrency:
      group: test-concurrency
      cancel-in-progress: true
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v4

    - name: shell execute
      run: |
        chmod +x shell-script.sh
        ./shell-script.sh
      
