name: my concourrency workflow

on:
  push:
  workflow_dispatch:
    
concurrency:
  group: concurrncy-group
  cancel-in-progress: true   

jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v4

    - name: list files
      run: ls -lrta

  job2:
    needs: job1

    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v4

    - name: shell execute
      run: |
        sleep 50
        chmod +x shell-script.sh
        ./shell-script.sh
      
